go build -o vigilate.exe ./cmd/webkurt
vigilate.exe -dbuser="someuser" -dbpass="somepassword" -pusherHost="localhost" -pusherSecret="123abc" -pusherKey="abc123" -pusherSecure=false -pusherApp="1" -db="vigilate" -pusherPort="4001"
